body {
	background-color: #ff5aac;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}
h1 {
	font-family: "Mr Dafoe", cursive;
	text-align: center;
	font-size: 3em;
	margin-top: 20px;
	color: #EBDC7D;
}

h2 {
	font-family: "Mr Dafoe", cursive;
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
	color: #EBDC7D;
}

p {
	font-family: "Damion", cursive;
	text-align: center;
	font-size: 1.2em;
	margin: 20px auto;
	width: 80%;
	color: #7807ff;
}

.content {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
}

.dual-image-container-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dual-image-container-left img {
	width: 60%;
	height: auto;
	margin: 0 20px;
}

.dual-image-container-left :hover {
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(1.3) rotate(960deg);
	height: auto;
	margin: 0 20px;
}

.dual-image-container-left {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 0 20px;
	flex-direction: column;
}

.dual-image-container-right {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 0 20px;
	flex-direction: column;
}

.audio-container {
	height: 50px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}

button.play-button {
	position: absolute;
	left: 60%;
	background-color: #EBDC7D;
	color: #7807ff;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

button.stop-button {
	position: absolute;
	transition: .5s;
	background-color: #EBDC7D;
	color: #7807ff;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.feature-image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.feature-card {
	background-color: #EBDC7D;
	color: #7807ff;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 200px;
	text-align: center;
}

.feature-card:hover {
	transform: scale(1.3) rotate(960deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s, box-shadow 0.3s;
}

.mt-5 {
	margin-top: 3rem;
}

.text-5xl {
	font-size: 5rem;
}

.form-container {
	background-color: #EBDC7D;
	color: #7807ff;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 50%;
	text-align: center;
}

.submitMessage {
	display: none;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	background-color: grey;
	border-radius: 20px;
	color: white;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 10px;
	border: none;
}

img.image-file {
	width: 80%;
	height: auto;
	max-width: 80%;
}

.post {
	position: relative;
	background-color: #EBDC7D;
	color: #7807ff;
	font-family: "Damion", cursive;
	font-size: 1.2em;
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 50%;
	text-align: center;
	z-index: 1;
	white-space: pre-line;
	word-break: break-word;
}

.cross {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
	background-color: #ff0000;
	color: white;
	border: none;
	border-radius: 3px;
}

.cross:hover {
	background-color: white;
	color: #ff0000;
}

.deleteBox {
	display: none;
	position: fixed;
	height: 100px;
	top: 35%;
	left: 50%;
	transform: translate(-50%);
	background-color: #EBDC7D;
	color: #7807ff;
	padding: 15px 45px;
	border-radius: 5px;
	border-color: #ff0000;
	z-index: 10;
}

.yesBox {
	position: absolute;
	bottom: 20%;
	left: 10%;
	background-color: greenyellow;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
}

.yesBox:hover {
	background-color: white;
	color: greenyellow;
}

.noBox {
	position: absolute;
	bottom: 20%;
	right: 10%;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
}

.noBox:hover {
	background-color: white;
	color: red;
}

.go-back-button { 
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px 20px;
	background-color: #EBDC7D;
	border-radius: 5px;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.secret-page {
	background-image: url('../assets/img/secret\ hannah.webp');
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
}

.secret-page :hover {
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(1.3) rotate(960deg);
}

.mt-5 {
	margin-bottom: 3rem;
}

.mb-5 {
	margin-bottom: 3rem;
}
